body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
margin: 0;
}
.communication{
    font-size: larger;
    height: 50px;
    background-color: lightcoral;
    padding-bottom: 40px;
}
.header{
 padding-top: 30px;
}
.info{
    height: 25px;
    width:350px;
    border-radius: 2em;
   
}
#btn{
    border-radius: 2em;
    padding: 5px 30px;
    background-image: linear-gradient(orange ,blue);
    color: white;
}
h1{
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    margin-bottom: 50px;
}
.order-now{
    padding-left: 30px;
    margin-bottom: 100px;
    margin-top:100px ;
}
.orange-highlight{
    color: orangered;
}
.link-button{
    text-decoration: none;
    color: white;
    border-radius:2em;
    background-image: linear-gradient( to right, orange,tomato);
    padding: 20px 34px;
}
.flexible-container{
    display: flex;
    
}
.flexible-container img{
    width: 80%;
}
.half-width{
    width: 48%;
    padding-left: 1%;
}
.half-width img{
    height: 450px;
    width: 350px;
}
#width-reset{
    width: 70%;
    margin-left: 10%;
}
.about-me{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
   
    
}
.recipe p,h3{
    text-align: center;
    
}
.recipe img{
    height: 200px;
    width: 350px;
    margin-left: 50px;
    margin-top: 50px;
}
.shadow{
    width: 30%;
    box-shadow: 10px 10px 10px 10px gray;
    border-radius: 5%;
    padding-right: 1%;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-media{
    width: 1450px;
    
    
}
.subscribers{
    width: 30%;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 150px;
}
footer{
    background-color: rgba(0, 0, 0, 0.678);
    text-align: center;
    height: 150px;
    padding-top: 50px;
}